@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap');

.home {
  background-color: rgb(218, 217, 217);
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.home blockquote {
  width: fit-content;
  border: 1px solid black;
}


body img {
  width: 250px;
  height: 250px;
  padding: 15px;

}

.home .visits_place {
  text-align: center;


}

.fa-star {
  color: orange
}

#main_star {
  color: black;
}

.home .table {
  margin-top: 100px;
  margin-left: 300px;
  align-content: center;
  font-family: 'Noto Kufi Arabic', sans-serif;
  border: 1px solid black;
  width: fit-content;

}

.home .table #almotnabi {
  background-color: black;


}

.home .table td {
  background-color: rgb(218, 217, 217);
  border: 1px solid black;
  padding: 10px;

}

.home .table tr {
  border: 1px solid black;
  background-color: gray;

}

#first_row {
  margin: 0;
  border: 0;
}