@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Saira:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgba(128, 128, 128, 0.226);
  font-family: 'Roboto', sans-serif;

}

h1,
h2 {
  font-family: 'Saira', sans-serif;

}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.home .nav_bar {
  background-color: white;
  width: 100%;
  border-bottom: rgba(128, 128, 128, 0.6) solid 2px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  margin: auto;
  /* max-width: 1100px; */
}

.home .logo a {
  font-size: 24px;
  font-weight: 700;
  color: rgb(90, 90, 90);


}

.home .logo a:hover {
  color: gray;

}

.home .nav_bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .nav_bar ul a {
  padding: 15px;
  font-weight: 600;
  color: rgb(90, 90, 90);
  transition: all 0.5;
}

.home .nav_bar ul a:hover {

  border-bottom: gray solid 2px;
  font-size: 110%;

}


.main_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}

.main_section .content {
  margin: auto 40px;
}


.main_section .content .hi_content {
  color: rgb(19, 69, 19);
  font-weight: 600;
}

.main_section .content h1 {
  color: rgb(22, 22, 110);
  font-size: 64px;
  font-weight: 700;
}

.main_section .dev_content {
  color: rgb(22, 22, 110);
  font-weight: 600;
}

.main_section .icons {
  margin: 10px 0px;
}

.main_section .icons i {
  color: white;
  font-size: 18px;
  background-color: gray;
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 25px;
  transition: all 0.5s;
}

.main_section .icons i:hover {
  transform: scale(0.7);
  cursor: pointer;
}


.main_section a {
  color: white;
  font-weight: 300;
  font-size: medium;
  background-color: rgb(0, 172, 0);
  padding: 12px;
  border-radius: 10px;
  transition: all 0.5s;
}

.main_section a:hover {
  background-color: rgba(3, 216, 3, 0.979)
}

.main_section .my_img {
  max-width: fit-content;
  max-height: fit-content;
  margin: auto 40px;
  max-width: 400px;

}
























































/* start styling  table.html file */
.fa-star {
  color: orange
}

#main_star {
  color: black;
}

.home .table {
  margin-top: 100px;
  margin-left: 300px;
  align-content: center;
  font-family: 'Noto Kufi Arabic', sans-serif;
  border: 1px solid black;
  width: fit-content;

}

.home .table #main_row th {
  padding: 10px;

}

.home .table #main_row {
  border: 1px solid black;
  background-color: gray;

}

.home .table td {
  background-color: rgb(218, 217, 217);
  border: 1px solid black;
  padding: 10px;
}



#first_row {
  margin: 0;
  border: 0;
}

/* end styling  table.html file */