@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}
.home h2 {
  size: 36px;
}
.home .border {
  height: 3px;
  width: 90px;
  background-color: rgb(136, 7, 7);
  margin: 5px 0 25px;
}

.home .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.home .cards .card {
  background-color: rgb(249, 245, 245);
  margin: 0 1rem;
  padding: 50px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.home .cards .card img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 15px;
}

.home .cards .card h3 {
  font-size: 20px;
}

.home .cards .card .stars {
  margin: 15px 0;
  color: red;
}

.home .cards .card p {
  font-weight: 300;
  font-size: 14px;
  width: auto;
}

@media (max-width: 900px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .home .border {
    height: 3px;
    width: 90px;
    background-color: rgb(136, 7, 7);
    margin: 1px;
  }
  .home .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home .cards .card {
    background-color: rgb(249, 245, 245);
    margin: 1rem 1rem;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
  }
  .home .cards .card p {
    font-weight: 300;
    font-size: 14px;
    width: 250px;
  }
}
