@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {

  background-color: #f1f1f1;
}


.container {
  width: 400px;
  background-color: #373f4d;
  color: white;
  margin: 150px auto;
  padding: 30px;
  border-radius: 5px;
  text-align: center;

}

h3 {
  font-size: 22px;
  margin: 10px;
  font-weight: 300;
}


p {
  font-size: 15px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;

}

button {
  display: block;
  width: 80%;
  padding: 15px 10px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  background-color: rgba(226, 123, 39, 0.961);
  border-radius: 5px;
  color: white;
}