* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 64, 50, 0.8), rgba(71, 17, 116, 0.9)), url(./images/background.jpg) no-repeat center center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header .logo {
  width: 100px;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .header-right i {
  margin-right: 5px;
}

.header .header-right a {
  color: white;
}

.header .header-right a:hover {
  color: purple;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 50px;
  height: 100%;
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 40px;
}

.main-content form,
.main-content .text-container {
  flex: 1;
}

/* Form */

.form-group {
  padding: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  outline: 0;

}

.form-group textarea {
  height: 100px;
  resize: none;

}

.form-group button {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ff4032;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  opacity: 0.8;
}

/* text-container */


.main-content .text-container {
  margin: auto;
}

.main-content .text-container h1 {
  font-size: 50px;
  line-height: 1.2;
}

.main-content .text-container p {
  font-size: 18px;
}